.header {
    background-color:grey;
    color: white;
    justify-content: space-between;
    display:flex;
 }
.footer {
    background-color: silver;
 }
 .container{
    margin: 0px;
 }
 .menu{
    display: flex;
 }